{{ define "style" }}
<style>
h1 {
	color: var(--caption);
	font-size: 2.4rem;
	margin-top: 0;
}
h1 b {
	color: var(--para);
}
@media (max-width: 499px) {
	h1 { font-size: 1.5rem }
}
h3 {
	margin-top: 2.25rem;
}
h3 small a {
	color: var(--caption);
	display: inline-flex;
	align-items: center;
	font-size: 1rem;
}
h3 small a:after {
	content: "";
	background: no-repeat center/100% var(--arrow);
	margin-left: 0.5rem;
	width: 14px;
	height: 14px;
}
.tags.spaced {
	padding-bottom: 1.5rem;
}
</style>
{{ end }}

{{ define "main" }}
	<main>
		<h1>
			<span><b>S</b>hould <b>H</b>ave <b>U</b>sed <b>M</b>onero</span>
		</h1>
		<hr>

		<article>{{ .Content }}</article>
		<hr>

		<h3>{{ (site.GetPage "/events").Pages | len }} events
			<small>&nbsp;//&nbsp;
				<a href="/tags/">See all {{ len site.Taxonomies.tags }} tags</a>
			</small>
		</h3>

		<div class="tags spaced">
			{{ range site.Taxonomies.tags.ByCount | first 11 }}
				{{ partialCached "tag-count" .Page .Page }}
			{{ end }}
		</div>

		{{ with site.GetPage "/events" }}
			{{ partial "events" .Pages }}
		{{ end }}
	</main>
{{ end }}
