:root {
	--bodyBg: #111;
	--bodyBg2: #222;
	--bodyClr: #f8f8f8;

	--navH: 68px;
	--navBg: #181818;
	--navClr: #eee;
	--blockq: 140, 140, 140;

	--borderClr: #777;
	--border1: 1px solid var(--borderClr);
	--tagBg: #3a3a3a;

	--para: #d4d4d4;
	--link: #29B6F6;
	--strong: #fafafa;
	--caption: #999;
	--mark: #ed821e66;
	--markClr: #ddd;

	--arrow: url('data:image/png;base64,{{ (resources.Get "arrow.png").Content | base64Encode }}');
}
@media (prefers-color-scheme: light) {
	:root {
		--bodyBg: #fafafa;
		--bodyBg2: #f5f5f5;
		--bodyClr: #444;

		--borderClr: #ccc;
		--tagBg: #fff;

		--para: #555;
		--link: #03A9F4;
		--strong: #333;
		--caption: #909090;
		--mark: #f9ae4577;
		--markClr: #000;
	}
}

* {
	box-sizing: border-box;
	max-width: 100% !important;
}
html {
	scroll-behavior: smooth;
}
body {
	background: var(--bodyBg);
	color: var(--bodyClr);
	font-family: Ubuntu,'Segoe UI',Oxygen,Helvetica Neue,Roboto,Trebuchet MS,Tahoma,Cantarell,sans-serif !important;
	font-size: 105%;
	word-spacing: 0.07rem;
	margin: 0;
}

a {
	color: var(--link);
	overflow-wrap: break-word;
}
a:not(:hover) {
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	font-weight: normal;
	margin: 1.25rem 0;
}
@media (max-width: 500px) {
	h1 {
		font-size: 1.75rem;
	}
}

main {
	width: 950px;
	margin: auto;
	padding: 1.5rem;
}
main > h1:first-child {
	display: flex;
	align-items: center;
}
main > h1:first-child img {
	margin-right: 1rem;
}
@media (max-width: 500px) {
	main {
		padding: 1rem;
	}
}
@media (max-width: 400px) {
	main > h1:first-child {
		font-size: 1.5rem;
	}
	main > h1:first-child img {
		width: 32px;
		height: 32px;
	}
}

nav {
	content: "";
	background: var(--navBg);
	box-shadow: 0 4px 16px -1px rgba(0,0,0,.75);
	display: flex;
	height: var(--navH);
	padding-right: var(--navH);
	position: sticky;
	top: 0;
	z-index: 4;
}
nav a {
	color: var(--navClr);
	display: flex;
	align-items: center;
	font-size: 1.025rem;
	height: 100%;
	padding: 0 1rem;
}

hr {
	border: 0;
	border-top: var(--border1);
	margin: 1.5rem 0;
	max-height: 0px;
}

label, .easy-select {
	cursor: pointer;
}

p, li {
	color: var(--para);
}
small, time, .events u {
	color: var(--caption);
}
time {
	font-size: 0.9rem;
	margin-top: 0.5rem;
	display: block;
}

mark {
	background-color: var(--mark);
	color: var(--markClr);
	padding: 0.25rem;
}

article > img {
	margin: 3rem 0 3rem 1rem;
}
article img + a {
	display: table;
	margin-top: -3rem;
	margin-left: 1rem;
}
article strong {
	color: var(--strong) !important;
}
p, article li {
	line-height: 2;
}
article p, article ol, article ul, article table {
	margin-bottom: 2rem;
}
article li ul, article li ol {
	margin-bottom: unset;
}
article p + ol, article p + ul {
	margin-top: -2rem;
}

blockquote {
	border-left: 3px solid rgba(var(--blockq), 0.4);
	margin: 1.5rem 0 2rem 1rem;
	padding-left: 1rem;
}
article p + blockquote,
article blockquote + blockquote {
	margin-top: -1.5rem;
}
blockquote > * {
	margin: 0.75rem 0 !important;
}
blockquote *:not(a):not(mark) {
	color: rgb(var(--blockq)) !important;
}

footer {
	background: var(--navBg);
	border-top: var(--border1);
	color: var(--navClr);
	padding: 2rem 0;
	text-align: center;
}
footer p {
	color: var(--navClr);
	line-height: 1.5;
}
footer span {
	color: #8b8b8b;
	word-break: break-word !important;
}
footer .grid > div {
	padding: 0 2rem !important;
}
@media (max-width: 599px) {
	footer .grid div:first-child {
		border-bottom: var(--border1);
		padding-bottom: 1.25rem !important;
	}
}
@media (min-width: 600px) {
	footer .grid div:first-child {
		border-right: var(--border1);
	}
}

h5 {
	flex: 1;
	font-size: 1.05rem;
	font-weight: 500;
	line-height: 1.75;
	margin: 0.5rem 0 0;
}
a:hover h5 {
	text-decoration: underline;
}

.events > a {
	background: var(--bodyBg2);
	border-bottom: var(--border1);
	color: var(--bodyClr);
	display: block;
	padding: 1rem;
}
.events > a:first-child {
	border-top: var(--border1);
}
.events > a:hover {
	background: var(--bodyBg);
}
.events u {
	font-size: 0.9rem;
}

.prev-next {
	border-top: var(--border1);
	border-bottom: var(--border1);
}
.prev-next > * {
	background: var(--bodyBg2);
	color: var(--bodyColor);
}
.prev-next a:hover {
	background: var(--tagBg);
}
.prev-next > :last-child {
	text-align: right;
}
.prev-next small {
	font-size: 1rem;
	display: inline-flex;
	align-items: center;
}
.prev-next > a:first-child small:before,
.prev-next > a:last-child small:after {
	content: "";
	background: no-repeat center/100% var(--arrow);
	width: 1rem;
	height: 1rem;
}
.prev-next > a:first-child small:before {
	transform: rotateY(180deg);
	margin-right: 0.75rem;
}
.prev-next > a:last-child small:after {
	margin-left: 0.75rem;
}

@media (max-width: 599px) {
	.prev-next > div {
		display: none;
	}
	.prev-next > a + a {
		border-top: var(--border1);
	}
}
@media (min-width: 600px) {
	.prev-next {
		margin: 1.5rem 0;
	}
	.prev-next > :last-child {
		border-left: var(--border1);
	}
}

.tags {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.tags a {
	background: var(--tagBg);
	border: 2px solid var(--borderClr);
	border-radius: 18px;
	color: var(--bodyClr);
	display: inline-flex;
	align-items: center;
	font-size: 14px;
	height: 32px;
	margin: 0.5rem 0.5rem 0.5rem 0;
	padding: 0.5rem 0.85rem !important;
}
.tags a:hover {
	background: var(--bodyBg2);
}
.tags a img {
	width: 16px;
	height: 16px;
	margin-right: 0.5rem;
}
.tags *, .events *, .prev-next a {
	text-decoration: none;
}

.srcs li {
	font-size: 0.95rem;
	line-height: 1.75;
	margin-bottom: 0.5rem;
}
.srcs a[href^="https://archive."]:after,
.srcs a[href^="https://web.archive.org"]:after {
	content: " \00a0(archived)";
}

.easy-select {
	font-size: 1rem;
	-webkit-user-select: all;
	user-select: all;
	word-break: break-all;
}

.grid {
	--c: 12; /* columns */
	display: flex;
	flex-flow: row wrap;
}
.grid > div, .grid > a {
	flex: 0 1 auto;
	padding: 0.75rem;
	width: calc(100% / calc(12 / var(--c)));
}
@media (min-width: 600px) {
	.grid.sm-6 { --c: 6 }
}
