{{ define "partials/prev-next" }}
	{{ with index . 1 }}
		<a href="{{ .RelPermalink }}">
			<small>{{ index $ 0 }}</small>
			<div>{{ .Title }}</div>
		</a>
	{{ else }}
		<div></div>
	{{ end }}
{{ end }}

{{ define "main" }}
	<main>
		<time>Occurred on {{ .Date.Format "2 Jan 2006" }}</time>
		<h1>{{ .Title }}</h1>

		{{ partial "tags" .Params.tags }}
		<hr>

		<article>{{ .Content }}</article>
		<hr>

		<h3>&nbsp;&nbsp;Source(s):</h3>
		{{ partial "sources" .Params.srcs }}
		<br>

		<div class="grid sm-6 prev-next">
			{{ partial "prev-next" (slice "← Prev" .PrevInSection) }}
			{{ partial "prev-next" (slice "Next →" .NextInSection) }}
		</div>
	</main>
{{ end }}
