{{ define "partials/head/keywords" }}
	{{ $kws := site.Params.keywords }}
	{{ with union .Keywords .Params.tags }}
		{{ $kws = print $kws "," (delimit . ",") }}
	{{ end }}
	{{ return $kws }}
{{ end }}

{{ define "partials/head/description" }}
	{{ $d := .Description | default site.Params.description }}
	{{ if eq .Type "events" }}
		{{ $d = .Summary }}
	{{ end }}
	{{ return ($d | truncate 120) }}
{{ end }}

{{ define "partials/head/css" }}
	{{ $css := resources.Get "main.css"
		| resources.ExecuteAsTemplate "" $
		| minify }}
	<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}
